@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-source-serif-4: "Source Serif 4", serif;
  --animate-fade-up: fade-up 700ms ease-out both;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(16px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
