name:CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: type-check
        run: pnpm typecheck
      - name: check formatting
        run: pnpm check
      - name: build project
        run: pnpm build
